        /* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 10px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box {
    float: left;
    width: calc(100% / 3 - 10px);
    margin:  5px;
    position: relative;
}

/* .box {
    background-color: lawngreen;
}

.box:hover {
    background-color: mediumblue;
}     */

.first {
    background-image: url(../img/1.webp);
    height: 624px;
    width: 340;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
  

}

.first:hover {
    background-image: url(../img/1b.webp);
}

.second {
    background-image: url(../img/2.webp);
    height: 624px;
    width: 340;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.second:hover {
    background-image: url(../img/2b.webp);
}

.third {
    background-image: url(../img/3.webp);
    height: 624px;
    width: 340;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.third:hover {
    background-image: url(../img/3b.webp);
}


.whity {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.red_square {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 10px;
    font-weight: bold;
    color: white;
    line-height: 20px;
    text-align: center;
}

.green_square {
    display: inline-block;
    width: 80px;
    height: 20px;
    background-color: rgb(8, 92, 5);
    position: absolute;
    bottom: 20px;
    left: 45px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    line-height: 20px;
    text-align: center;
}




        /* debug */

.container.debug {
    height: 700px;
    background-color: lightgray;
    }

.debug .box {
    height: 600px;
    
    border: 1px solid black;
}
