        /* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 10px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box {
    float: left;
    width: calc(100% / 3 - 10px);
    margin:  5px;
    position: relative;
}

.box {
    background-color: lawngreen;
}

.box:hover {
    background-color: mediumblue;
}    
.whity {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}    




        /* debug */

.container.debug {
    height: 700px;
    background-color: lightgray;
    }

.debug .box {
    height: 600px;
    
    border: 1px solid black;
}
