        /* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 10px auto;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box {
    float: left;
    width: calc(100% / 3 - 10px);
    margin:  5px;
    position: relative;
}

/* .box {
    background-color: lawngreen;
}

.box:hover {
    background-color: mediumblue;
}     */

.first {
    background-image: url(../img/1.webp);
    height: 624px;
    width: 340;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
  

}

.first:hover {
    background-image: url(../img/1b.webp);
}

.second {
    background-image: url(../img/2.webp);
    height: 624px;
    width: 340;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.second:hover {
    background-image: url(../img/2b.webp);
}

.third {
    background-image: url(../img/3.webp);
    height: 624px;
    width: 340;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.third:hover {
    background-image: url(../img/3b.webp);
}

/* /hoover */

/* cups */

.cup {
    width: calc(100% / 3 - 10px);
    margin:  5px;
    /* background-color: rgba(0, 4, 255, 0.1); */
    float: left;
    margin-top: 5px;
}


/* /cups */
/* price */

.row_ {
    font-size: small;
    font-weight: bolder;
    color: rgb(75, 75, 75);

}

.big {
    text-transform: uppercase;
    color: black;
    font-size: large;
    font-weight: bolder;
}

#saled {
    color: red;
    font-size: 12px;
    font-weight: bolder;
}

#underl {
    font-size: 12px;
    font-weight: bolder;
    color: black;
    text-decoration: line-through;
}



/* /price */

.whity {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.red_square {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 10px;
    font-weight: bold;
    color: white;
    line-height: 20px;
    text-align: center;
}

.green_square {
    display: inline-block;
    width: 80px;
    height: 20px;
    background-color: rgb(8, 92, 5);
    position: absolute;
    bottom: 20px;
    left: 45px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    line-height: 20px;
    text-align: center;
}




        /* debug */

/* .container.debug {
    height: 800px;
    background-color: lightgray;
    } */

/* .debug .box {
    height: 600px;
    
    border: 1px solid black;
} */

/* .cup{
    height: 100px;
    border: 1px solid black;
} */